<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kirjalista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muokkaa</h1>
	<div>
		<form th:object="${kirja}" th:action="@{save/{path}(path=${kirja.id})}" action="#" method="post">
		  	<label for="teos">Teos</label>
			<input type="text" id="teos" th:field="*{teos}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="tekija">Tekijä</label>
			<input type="text" id="tekija" th:field="*{tekija}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="vuosi">Vuosi</label>
			<input type="text" th:field="*{vuosi}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="isbn">ISBN</label>
			<input type="text" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="hinta">Hinta</label>
			<input type="text" th:field="*{hinta}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="katlist">Kategoria</label>
			<select id="katlist" th:field="*{kategoria}" class="form-control">
       		<option th:each="kategoria: ${kategoriat}" th:value="${kategoria.kategoriaId}" th:text="${kategoria.nimi}"></option>
    		</select>
    		
    		<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>